In [1]:
import os
import logging
import pandas as pd
from datetime import datetime, timedelta

In [2]:
import sys

cwd = os.getcwd()
folder = os.path.join(cwd, '..', 'src')
 
# adding Folder_2 to the system path
sys.path.insert(0, folder)

from fcSelector import ForecasterFramework

### Create new selector with data back-up parameters

In [3]:
parameter = {
    'targetColName': 't',
#     'colList': ['c1', 'c2', 'c3', 't1', ],
    'recordPath': './training_data.csv',
    'backupInterval': 5
}

x = ForecasterFramework(params = parameter)

### Add individual data records as dicts

In [14]:
newRecords = [
    {
        '2018-07-21 00:00:00': {
            'c1': 11,
            'c2': 22,
            'c3': 1,
            't': 101,
            'ts1': [1,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 01:00:00': {
            'c1': 13,
            'c2': 25,
            'c3': 2,
            't': 103,
            'ts1': [11,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 02:00:00': {
            'c1': 15,
            'c2': 35,
            'c3': 4,
            't': 112,
            'ts1': [12,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 03:00:00': {
            'c1': 16,
            'c2': 44,
            'c3': 5,
            't': 124,
            'ts1': [13,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 04:00:00': {
            'c1': 17,
            'c2': 49,
            'c3': 6,
            't': 144,
            'ts1': [14,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 05:00:00': {
            'c1': 17,
            'c2': 49,
            'c3': 6,
            't': 144,
            'ts1': [14,2,3,4,5],
            'ts2': [24,25,26,27,28]
        }
    },
    {
        '2018-07-21 06:00:00': {
            'c1': 17,
            'c2': 49,
            'c3': 6,
            't': 144,
            'ts1': [14,2,45,56,77],
            'ts2': [24,25,26,27,28]
        }
    }
]

for newRecord in newRecords:

    x.addRecord(newRecord)
    
    
x.reshapeTsData()

print(f'shape of wide dataframe: {x.dataDf.shape}')
print(f'shape of long dataframe: {x.dataDfLong.shape}')
print(f'shape of data X: {x.X.shape}')
print(f'shape of data y: {x.y.shape}')

print(f'number of col metaData: {len(x.dataMeta)}')

2022-11-09 16:59:53 WARNING  Data horizon is too short.
2022-11-09 16:59:53 WARNING  Data horizon is too short.
2022-11-09 16:59:54 WARNING  Data horizon is too short.
2022-11-09 16:59:54 WARNING  Data horizon is too short.
2022-11-09 16:59:54 WARNING  Data horizon is too short.
2022-11-09 16:59:54 WARNING  Data horizon is too short.
2022-11-09 16:59:54 WARNING  Data horizon is too short.

shape of wide dataframe: (7, 14)
shape of long dataframe: (35, 7)
shape of data X: (25, 6)
shape of data y: (25,)
number of col metaData: 6

In [5]:
x.dataMeta

{'c1': {'tsIndexed': False},
 'c2': {'tsIndexed': False},
 'c3': {'tsIndexed': False},
 't': {'tsIndexed': False},
 'ts1': {'tsIndexed': True, 'tsCount': 5},
 'ts2': {'tsIndexed': True, 'tsCount': 5}}

In [6]:
x.reshapeTsData()

df2 = x.dataDfLong

print(df2)

                     hIndex ts1 ts2   c1   c2   c3    t
timestamp
2018-07-21 00:00:00       0   1  24   11   22    1  101
2018-07-21 01:00:00       0  11  24   13   25    2  103
2018-07-21 02:00:00       0  12  24   15   35    4  112
2018-07-21 03:00:00       0  13  24   16   44    5  124
2018-07-21 04:00:00       0  14  24   17   49    6  144
2018-07-21 05:00:00       0  14  24   17   49    6  144
2018-07-21 06:00:00       0  14  24   17   49    6  144
2018-07-21 01:00:00       1   2  25   13   25    2  103
2018-07-21 02:00:00       1   2  25   15   35    4  112
2018-07-21 03:00:00       1   2  25   16   44    5  124
2018-07-21 04:00:00       1   2  25   17   49    6  144
2018-07-21 05:00:00       1   2  25   17   49    6  144
2018-07-21 06:00:00       1   2  25   17   49    6  144
2018-07-21 07:00:00       1   2  25  NaN  NaN  NaN  NaN
2018-07-21 02:00:00       2   3  26   15   35    4  112
2018-07-21 03:00:00       2   3  26   16   44    5  124
2018-07-21 04:00:00       2   3  26   17   49    6  144
2018-07-21 05:00:00       2   3  26   17   49    6  144
2018-07-21 06:00:00       2   3  26   17   49    6  144
2018-07-21 07:00:00       2   3  26  NaN  NaN  NaN  NaN
2018-07-21 08:00:00       2  45  26  NaN  NaN  NaN  NaN
2018-07-21 03:00:00       3   4  27   16   44    5  124
2018-07-21 04:00:00       3   4  27   17   49    6  144
2018-07-21 05:00:00       3   4  27   17   49    6  144
2018-07-21 06:00:00       3   4  27   17   49    6  144
2018-07-21 07:00:00       3   4  27  NaN  NaN  NaN  NaN
2018-07-21 08:00:00       3   4  27  NaN  NaN  NaN  NaN
2018-07-21 09:00:00       3  56  27  NaN  NaN  NaN  NaN
2018-07-21 04:00:00       4   5  28   17   49    6  144
2018-07-21 05:00:00       4   5  28   17   49    6  144
2018-07-21 06:00:00       4   5  28   17   49    6  144
2018-07-21 07:00:00       4   5  28  NaN  NaN  NaN  NaN
2018-07-21 08:00:00       4   5  28  NaN  NaN  NaN  NaN
2018-07-21 09:00:00       4   5  28  NaN  NaN  NaN  NaN
2018-07-21 10:00:00       4  77  28  NaN  NaN  NaN  NaN

In [7]:
print(x.dataDf.shape)
print(df2.shape)

(7, 14)
(35, 7)

In [8]:
df2.head(30)

                     hIndex ts1 ts2   c1   c2   c3    t
timestamp
2018-07-21 00:00:00       0   1  24   11   22    1  101
2018-07-21 01:00:00       0  11  24   13   25    2  103
2018-07-21 02:00:00       0  12  24   15   35    4  112
2018-07-21 03:00:00       0  13  24   16   44    5  124
2018-07-21 04:00:00       0  14  24   17   49    6  144
2018-07-21 05:00:00       0  14  24   17   49    6  144
2018-07-21 06:00:00       0  14  24   17   49    6  144
2018-07-21 01:00:00       1   2  25   13   25    2  103
2018-07-21 02:00:00       1   2  25   15   35    4  112
2018-07-21 03:00:00       1   2  25   16   44    5  124
2018-07-21 04:00:00       1   2  25   17   49    6  144
2018-07-21 05:00:00       1   2  25   17   49    6  144
2018-07-21 06:00:00       1   2  25   17   49    6  144
2018-07-21 07:00:00       1   2  25  NaN  NaN  NaN  NaN
2018-07-21 02:00:00       2   3  26   15   35    4  112
2018-07-21 03:00:00       2   3  26   16   44    5  124
2018-07-21 04:00:00       2   3  26   17   49    6  144
2018-07-21 05:00:00       2   3  26   17   49    6  144
2018-07-21 06:00:00       2   3  26   17   49    6  144
2018-07-21 07:00:00       2   3  26  NaN  NaN  NaN  NaN
2018-07-21 08:00:00       2  45  26  NaN  NaN  NaN  NaN
2018-07-21 03:00:00       3   4  27   16   44    5  124
2018-07-21 04:00:00       3   4  27   17   49    6  144
2018-07-21 05:00:00       3   4  27   17   49    6  144
2018-07-21 06:00:00       3   4  27   17   49    6  144
2018-07-21 07:00:00       3   4  27  NaN  NaN  NaN  NaN
2018-07-21 08:00:00       3   4  27  NaN  NaN  NaN  NaN
2018-07-21 09:00:00       3  56  27  NaN  NaN  NaN  NaN
2018-07-21 04:00:00       4   5  28   17   49    6  144
2018-07-21 05:00:00       4   5  28   17   49    6  144

## Time-Series Data Reshaping for Model Training

In [9]:
parameter = {
    'targetColName': 'd1',
    'recordPath': '../resources/data/FORECAST-solarData8760-Tucson.csv',
    'backupInterval': 3600
}

# init framework
y = ForecasterFramework(params = parameter)

# manually define y dataMeta
y.dataMeta = {
    'Tamb': {'tsIndexed': False},
    'DHI': {'tsIndexed': False},
    'DNI': {'tsIndexed': False},
    'GHI': {'tsIndexed': False},
    'd1': {'tsIndexed': False},
    'd2': {'tsIndexed': False},
    'd3': {'tsIndexed': False},
    'fTamb': {'tsIndexed': True, 'tsCount': 24},
    'fGHI': {'tsIndexed': True, 'tsCount': 24}
}

# read data from recordPath
y.readRecord()

In [10]:
y.reshapeTsData()

print(f'shape of wide dataframe: {y.dataDf.shape}')
print(f'shape of long dataframe: {y.dataDfLong.shape}')
print(f'shape of data X: {y.X.shape}')
print(f'shape of data y: {y.y.shape}')

shape of wide dataframe: (8784, 55)
shape of long dataframe: (210816, 10)
shape of data X: (210540, 9)
shape of data y: (210540,)

## Train Models with Reshaped Data

In [11]:
# import fcLib

# fcList = fcLib.forecaster_list

# # select a subset of forecast models
# fcList = [fcList[i] for i in [1,2,4,8,9]]

# # add forecaster list to framework instance
# y.updateForecasters(fcList)

# # train and evaluate selected forecast models
# y.evaluateAll(parallel=False)

# print(f'best forecaster: {y.bestModelName}')
# print(f'score: {y.bestScore}')

# print(y.fcData.sort_values('score', ascending=False))

In [12]:
y.validateData.__doc__

'method validates training data. may add additional tests'